// General
@font-face {
  font-family: 'Montserrat-ttf';
  src: url('/fonts/Montserrat.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  color: white;
  font-family: 'Montserrat-ttf';
  user-select: none;
}

:root {
  --background: #00172b;
  --objects: #002646;
  --accent: #2ab9d2;
}

html, body, #app {
  background-color: var(--background);
  height: 100%;
  width: 100%;
  margin: 0px;
}

#app {
  padding: 5px;
  box-sizing: border-box;
}

header {
  font-size: 27px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 40px;
  width: 100%;
}

input {
  outline: none;
}

#site-content {
  display: flex;
  flex-direction: column;
}

// Button
button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.button-light-hover:hover {
  filter: brightness(1.2)
}

.button-dark-hover:hover {
  filter: brightness(0.9)
}

.disabled-button {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;

  &:hover {
    filter: brightness(1) !important;
    cursor: default !important;
  }
}

// Different Buttons
.icon-button {
  height: 40px;
  width: 40px;
  background-color: var(--accent);
  color: var(--background);
  font-weight: bold;
  font-size: 30px !important;

  &:hover {
    filter: brightness(0.9);
  }

  svg {
    fill: var(--background);
    height: 24px;
    width: 24px;
  }
}

// Data Input Container
.data-input-container, .data-input-container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.data-input-container {
  * {
    border: none;
    outline: none;
    font-size: 15px;
  }

  input, textarea {
    background-color: var(--objects);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
    overflow-y: auto;
    height: 100px;
  }

  > div > div:first-child {
    font-weight: bold;
  }
}

// Cover Input Container
.cover-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  > button {
    background-color: var(--accent);
    height: 40px;
    width: 100%;
    color: var(--background);
    font-weight: bold;
    font-size: 18px;

    svg {
      height: 25px;
      width: 25px;
      fill: var(--background);
    }

    &:nth-child(4) {
      background-color: var(--background);
      color: var(--accent);
      border: 2px solid var(--accent);

      svg {
        fill: var(--accent);
      }
    }
  }

  > div:first-child {
    position: relative;
    width: 300px;
    height: 300px;

    input {
      display: none;
    }

    button {
      position: absolute;
      top: 0px;
      left: 0px;
      font-weight: bold;
      font-size: 25px;
      background-color: transparent;
      flex-direction: column;
      gap: 0px;
      color: transparent;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    svg {
      width: 50px;
      height: 50px;
      fill: none;
    }

    &:hover {
      img {
        filter: brightness(0.7);
      }

      button {
        border: 3px solid white;
        color: white;
      }

      svg {
        fill: white;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  button {
    gap: 5px;
  }
}

// Search Container
.search-container {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 3px;

  * {
    border: none;
    outline: none;
    font-size: 15px;
  }

  div:first-child {
    justify-content: center;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 40px;
    padding: 0px;
  }

  div {
    display: flex;
    align-items: center;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(100% - 45px);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  input {
    width: 100%;
  }

  svg {
    height: 24px;
    width: 24px;
  }
}

// Main Container
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Not clickable Button/SVG
.unclickable {
  pointer-events: none;

  &:hover {
    filter: brightness(1) !important;
    cursor: default !important;
  }
}

// Error Message
.error-message {
  color: red;
  font-size: 15px;
  text-align: center;
}

// Success Message
.success-message {
  color: var(--accent);
  font-size: 15px;
  text-align: center;
}

// Playlist head
.playlist-head-container {
  display: flex;
  width: 100%;
  height: 180px;

  img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
  }

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    padding-right: 0px;

    > div:first-child {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
    }

    > div:last-child {
      width: 100%;
      height: 100%;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div:first-child {
        max-width: calc(100% - 130px);
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > div:last-child {
        display: flex;
        gap: 10px;

        button {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: var(--accent);

          &:first-child {
            background-color: var(--background);
            border: 3px solid var(--accent);

            svg {
              fill: none;
              stroke: var(--accent);
            }
          }
        }

        svg {
          fill: var(--background);
          stroke: var(--background);
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

.playlist-description-container {
  background-color: var(--objects);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
}

// Request loader
.loader-request {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid white;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

// Download Loader
.loader-download {
  width: 17px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

// Music playing animation
.music-playing-animation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
  flex-shrink: 0;

  span {
    width: 3px;
    height: 100%;
    background-color: var(--accent);
    border-radius: 3px;
    animation: bounce 2.2s ease infinite alternate;
    content: '';

    &:nth-of-type(2) {
      animation-delay: -2.2s;
    }

    &:nth-of-type(3) {
      animation-delay: -3.7s;
    }
  }
}

@keyframes bounce {
  10% {transform: scaleY(0.3);}
  30% {transform: scaleY(1);}
  60% {transform: scaleY(0.5);}
  80% {transform: scaleY(0.75);}
  100% {transform: scaleY(0.6);}
}
