* {
  color: white;
  font-family: 'Montserrat';
}

:root {
  --background: #00172b;
  --objects: #002646;
  --accent: #2ab9d2;
}

html, body, #app {
  background-color: var(--background);
  margin: 0px;
  height: 100%;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.button-light-hover:hover {
  filter: brightness(1.2)
}

.button-dark-hover:hover {
  filter: brightness(0.9)
}